In [3]:
import pandas as pd
dataset = pd.read_csv('destination.csv')
dataset.loc[3:8, :]

,Destination,Feedback,Hotel star,Number of all-inclusive hotels,Most visited cities
3,Denmark,10,5,23,Copenhagen
4,Ethiopia,7,3,14,Addis Ababa
5,France,8,4,98,Paris
6,Gibraltar,8,4,4,Gibraltar
7,Hungary,9,3,21,Budapest
8,India,9,4,53,Mombai

In [4]:
import pandas as pd
dataset = pd.read_csv('destination.csv')
dataset['Number of all-inclusive hotels'].mean()

38.333333333333336

In [24]:
import pandas as pd
dataset = pd.read_csv('destination.csv')
dataset['Feedback']

0      9
1     10
2      8
3     10
4      7
5      8
6      8
7      9
8      9
9     10
10     7
11     7
12     7
13     8
14     9
Name: Feedback, dtype: int64

In [53]:
import pandas as pd
dataset = pd.read_csv('destination.csv')

highscore = dataset['Feedback']

highscore

0      9
1     10
2      8
3     10
4      7
5      8
6      8
7      9
8      9
9     10
10     7
11     7
12     7
13     8
14     9
Name: Feedback, dtype: int64

In [29]:
import pandas as pd
dataset = pd.read_csv('destination.csv')
myfiltermorethan9 = dataset['AllInclusive'] > 9

myfiltermorethan9

0      True
1      True
2      True
3      True
4      True
5      True
6     False
7      True
8      True
9      True
10     True
11     True
12     True
13    False
14     True
Name: AllInclusive, dtype: bool

In [30]:
import pandas as pd
dataset = pd.read_csv('destination.csv')
myfilterabove8 = dataset['Feedback'] > 8

myfilterabove8

0      True
1      True
2     False
3      True
4     False
5     False
6     False
7      True
8      True
9      True
10    False
11    False
12    False
13    False
14     True
Name: Feedback, dtype: bool

In [31]:
import pandas as pd
dataset = pd.read_csv('destination.csv')
myfilterbelow2 = dataset['Feedback'] < 2
myfilterbelow2

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: Feedback, dtype: bool